#Courier{
    font-family: 'Courier New';
}
#sans-serif{
    font-family: 'sans-serif';
}
#Arials{
    font-family: 'Arials';
}
#ArialBlack{
    font-family: 'Arial Narrow';
}
#LucidaSans{
    font-family: 'Lucida Sans';
}
#Comic-Sans-MS{
    font-family: 'Comic Sans MS';
}
#American-Typewriter{
    font-family: 'American Typewriter, serif';
}
#Apple-Chancery{
    font-family: 'Apple Chancery', sans-serif;
                                                
}
#Snell-Roundhand{
    font-family:'Snell Roundhand';
}
#sweatpants{
    font-family: "sweatpants";
}
#balham{
    font-family: 'balham';
}
#lobster-two{
    font-family: 'lobster two';
}
#ObelixPro{
    font-family: "ObelixPro";
}
#ITC-Avant-Garde-Gothic-Std{
    font-family: "ITC Avant Garde Gothic Std";
}
#Avenir-Next-LT-Pro{
    font-family: "Avenir Next LT Pro";
}
#chalkboard{
    font-family: "chalkboard";
}
#Motion-Picture-Personal-Use{
    font-family: "Motion Picture Personal Use";
}
#Courgette{
    font-family: "Courgette";
}
#ITCAvantGardeGothicW07-Md{
    font-family:"ITCAvantGardeGothicW07-Md";
}
.Nickainley{
    font-family: "Nickainley";
}
#AzoSansUberW01-Regular{
    font-family: "AzoSansUberW01-Regular";
}
#MVOldstyleSC{
    font-family: "MVOldstyleSC";
}
#MangoSign{
    font-family: "MangoSign";
}
#KG-Second-Chances-Solid{
    font-family: "KG Second Chances Solid";
}
#Dulcelin{
    font-family: "Dulcelin";
}
#Savoye-LET{
    font-family: "Savoye LET";
}
#ITC-Avant-Garde-Gothic-Std{
    font-family: "ITC Avant Garde Gothic Std";
}
#Azoft-Sans{
    font-family: "Azoft Sans";
}
#Allura{
    font-family: "Allura";
}
#Bodoni-MT{
    font-family: "Bodoni MT"
}
#Montserrat{
    font-family: "Montserrat";
}
#Abril-Fatface{
    font-family: "Abril Fatface";
}
#Alex-Brush{
    font-family: "Alex Brush";
}
#KG-Eyes-Wide-Open{
    font-family: "KG Eyes Wide Open";
}
#Futura-Condensed-PT{
    font-family: "Futura Condensed PT";
}
#Aliment-PERSONAL-USE{
    font-family: "Aliment PERSONAL USE";
}
#KG-Eyes-Wide-Open{
    font-family: "KG Eyes Wide Open";
}
#Arizonia{
    font-family: "Arizonia";
}
#Apple-Chancery{
    font-family: "Apple Chancery"
}
#Hearth-Stone{
    font-family: "Hearth Stone";
}